@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav */
.nav-link {
  font-size: 20px;
  transition: 0.4s;
  padding: 5px;
  border: 2px solid transparent;
  margin: 5px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #111;
  color: #f4b900;
  border-color: #111;
  transition: 0.3s;
  transform: scale(1.3);
}

.bg-red {
  background-color: #a20a0a;
}

.bg-black {
  background-color: black;
}

/* footer */
.fv__footer__content {
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 30px;
}
.fv__footer__social-links {
  display: inline-block;
  list-style: none;
  position: fixed;
  right: 0;
  padding: 10px;
  bottom: 150px;
  margin-top: 0px;
}
.fv__footer__social-links img {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .fv__footer__social-links img {
    width: 24px;
    height: 24px;
    opacity: 0.95;
  }
}
.fv__footer__social-links li {
  margin: 0px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .fv__footer__social-links li {
    font-size: 18px;
  }
}
.fv__footer__social-links a {
  margin-left: 30px;
}
.fv__footer__social-links a:hover {
  border-color: transparent;
}

p {
  font-family: "Proza Libre", sans-serif;
  color: #a20a0a;
}

a {
  font-family: "Proza Libre";
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* main */
/* hero */
.fv__hero {
  background-image: url("../assets/images/Fondo AmarilloNegro.avif");
  background-size: cover;
  width: 80%;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fv__hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.fv__hero__content h1 {
  background-color: #a20a0a;
  border-radius: 10px;
  opacity: 0.9;
  text-align: center;
  font-size: 100px;
  font-family: "Proza Libre", sans-serif;
  color: white;
  padding: 20px;
}
@media (max-width: 1480px) {
  .fv__hero__content h1 {
    font-size: 60px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .fv__hero__content h1 {
    font-size: 40px;
    padding: 0;
  }
}
.fv__hero__content a {
  font-family: "Proza Libre", sans-serif;
  background-color: #e7deb9;
  color: black;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  min-width: 300px;
  max-width: 50%;
}
@media (max-width: 768px) {
  .fv__hero__content a {
    font-size: 18px;
  }
}
.fv__hero__content__p1 {
  background-color: transparent;
  border-color: black;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 36px;
  font-family: "Proza Libre", sans-serif;
  color: black;
  text-align: center;
}
.fv__hero__content__p2 {
  background-color: transparent;
  border-color: black;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 40px;
  font-family: "Proza Libre", sans-serif;
  color: white;
  text-align: center;
}
@media (max-width: 1480px) {
  .fv__hero__content p {
    font-size: 24px;
    color: white;
  }
}
@media (max-width: 768px) {
  .fv__hero__content p {
    font-size: 18px;
    color: white;
  }
}
.fv__hero .btn-warning {
  font-size: 24px;
  width: 200px;
}
.fv__hero .btn-warning:hover {
  background-color: #a20a0a;
  color: white;
  border-color: black;
  transition: 0.3s;
  transform: scale(1.3);
}
.fv__hero .btn-check:checked + .btn,
.fv__hero .btn.active,
.fv__hero .btn.show,
.fv__hero .btn:first-child:active,
.fv__hero :not(.btn-check) + .btn:active {
  background-color: #e7deb9;
  color: black;
  border-color: black;
}

@media (max-width: 1024px) {
  .hero {
    height: 100%;
  }
}
/* products */
.fv__carousel__products__title {
  font-size: 120px;
  color: black;
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .fv__carousel__products__title {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .fv__carousel__products__title {
    font-size: 60px;
  }
}

.carousel-item {
  width: 100%;
  height: 500px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-title {
  display: inline-block;
  background-color: grey;
  width: 50%;
  border-radius: 10px;
  font-size: 40px;
  font-family: "Proza Libre", sans-serif;
  color: rgb(240, 217, 14);
  text-align: center;
}

.carousel-content {
  background-color: grey;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Proza Libre", sans-serif;
  color: black;
  text-align: center;
}

/* services */
.fv__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
@media (max-width: 1024px) {
  .fv__services .fv__services {
    padding: 10px;
  }
}
.fv__services__title {
  font-size: 120px;
  color: black;
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .fv__services__title {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .fv__services__title {
    font-size: 24px;
  }
}
.fv__services__content {
  position: relative;
  display: flex;
  width: 80%;
}
.fv__services__content__img {
  position: relative;
  width: 40%;
}
.fv__services__content__img__number {
  font-weight: bold;
  font-size: 200px;
  background-color: black;
  color: #f4b900;
  position: absolute;
  top: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  text-align: end;
}
@media (max-width: 1024px) {
  .fv__services__content__img__number {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .fv__services__content__img__number {
    font-size: 60px;
  }
}
.fv__services__content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fv__services__content__info {
  padding: 10px;
  background-color: #f4b900;
  color: black;
  font-size: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fv__services__content__info__btn {
  border-bottom: 2px solid black;
}
.fv__services__content__info__btn:hover {
  border-color: transparent;
}
.fv__services__content__info__title {
  font-size: 80px;
  color: white;
  font-family: "Proza Libre", sans-serif;
  margin-top: 50px;
}
@media (max-width: 1480px) {
  .fv__services__content__info__title {
    font-size: 60px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .fv__services__content__info__title {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .fv__services__content__info {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .fv__services__content__info {
    font-size: 18px;
    text-align: center;
  }
}

/* contact */
.fv__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 400px;
}
.fv__contact__content {
  width: 80%;
}
.fv__contact__content__title {
  font-size: 120px;
  font-family: "Proza Libre", sans-serif;
  margin-bottom: 120px;
  color: #a20a0a;
}
@media (max-width: 1024px) {
  .fv__contact__content__title {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .fv__contact__content__title {
    font-size: 60px;
  }
}
.fv__contact__content p {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
  color: #a20a0a;
}
@media (max-width: 1024px) {
  .fv__contact__content p {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .fv__contact__content p {
    font-size: 18px;
    line-height: 27px;
  }
}
.fv__contact__content a {
  display: inline-block;
  border-bottom: 2px solid black;
}
.fv__contact__content a:hover {
  border-color: transparent;
}

/* Products.html */
.row {
  margin: 0;
  font-family: "Proza Libre", sans-serif;
}
.row h2 {
  font-size: 120px;
  color: black;
  font-family: "Proza Libre", sans-serif;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .row h2 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .row h2 {
    font-size: 50px;
  }
}

.btn-primary {
  background-color: #a20a0a;
  color: #fff;
  font-size: 24px;
  width: 200px;
  border-color: black;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #111;
  color: #f4b900;
  border-color: #111;
  transition: 0.3s;
  transform: scale(1.3);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #111;
  color: #f4b900;
  border-color: #111;
}

.card {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 0;
  transition: 0.4s;
  overflow: hidden;
}
.card-body {
  text-align: center;
}
.card:hover {
  background-color: #f4b900;
  color: #111;
  box-shadow: 3px 3px 3px #111;
}
.card-img-top {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}
.card-title, .card-text {
  text-align: center;
}

/* Services.html */
.gallery {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a0  a2 a2 a2 a2 a2 a2 a2 a2 a3" "a0  a4 a4 a4 a4 a5 a5 a5 a5 a3";
  gap: 20px;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  align-items: center;
}
.gallery h2 {
  background-color: #a20a0a;
  border-radius: 10px;
  position: absolute;
  font-family: "Proza Libre", sans-serif;
  font-size: 60px;
}
.gallery__Asesoramiento {
  grid-area: a2;
}
.gallery__Construccion {
  grid-area: a4;
}
.gallery__Documentacion {
  grid-area: a5;
}
@media (max-width: 1240px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .gallery__Asesoramiento h2, .gallery__Documentacion h2, .gallery__Construccion h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .gallery__Asesoramiento h2, .gallery__Documentacion h2, .gallery__Construccion h2 {
    font-size: 24px;
  }
}

/* Team.html */
.card__team {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 0;
  transition: 0.4s;
  overflow: hidden;
}
.card__team:hover {
  background-color: #f4b900;
  color: #111;
  box-shadow: 3px 3px 3px #111;
}
.card__team__img-top-team {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
}
.card__team__body {
  text-align: center;
}

/* Contact.html */
.form {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 50px 20px;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  height: 100%;
  width: 50%;
  border: 2px solid #a20a0a;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .form {
    display: grid;
    grid-template-areas: "a1 a1" "a2 a2";
    grid-template-columns: 50% 50%;
  }
  .form iframe {
    grid-area: a1;
  }
  .form form {
    width: 100%;
    grid-area: a2;
    gap: 0;
  }
}
@media (max-width: 768px) {
  form {
    width: 100%;
  }
  .form iframe {
    width: 100%;
  }
}
.form iframe {
  width: 50%;
  border-radius: 10px;
  border: 2px solid #a20a0a;
}

form label {
  font-size: 20px;
  align-self: flex-start;
}

form input,
form textarea {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background-color: #a20a0a;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
